:root {
  --card: #f5f8fa;
  --ring: #4288c9;
  --input: #a7adb4;
  --muted: #dee6ed;
  --accent: #dce3e9;
  --border: #d4dadb;
  --radius: 0.5rem;
  --chart-1: #3065b0;
  --chart-2: #87a7f5;
  --chart-3: #c4ced8;
  --chart-4: #d3def0;
  --chart-5: #2d5bb4;
  --popover: #ffffff;
  --primary: #4288c9;
  --sidebar: #eef2f5;
  --spacing: 0.25rem;
  --font-mono: monospace;
  --font-sans: Inter, sans-serif;
  --secondary: #dce3e9;
  --background: #f1f1f1;
  --font-serif: Georgia, serif;
  --foreground: #29323d;
  --destructive: #131514;
  --sidebar-ring: #b5b5b5;
  --letter-spacing: -0.01em;
  --sidebar-accent: #dce3e9;
  --sidebar-border: #ebebeb;
  --card-foreground: #131814;
  --sidebar-primary: #4288c9;
  --muted-foreground: #7d8283;
  --accent-foreground: #1b2328;
  --popover-foreground: #1b2328;
  --primary-foreground: #ffffff;
  --sidebar-foreground: #3a3d3d;
  --secondary-foreground: #464e53;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #343434;
  --sidebar-primary-foreground: #fbfbfb;
}
